body {
    background-image: linear-gradient(to left top, rgb(255, 240, 219), rgb(156, 132, 129));
    /*min-height: 100vh;*/
    border: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;



}

.aside {
    position: fixed;
    top: 12px;
    right: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.image-link {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-link:hover {
    transform: scale(1.1);
}

.image-link img {
    width: 70px;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

.image-link:hover img {
    border-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.contact_link {
    color: rgb(217, 194, 186);
    /* färg på texten */
    background-color: rgb(75, 59, 66);
    font-size: 15px;
    /*text storlek*/
    font-family: 'Times New Roman', Times, serif;
    /*typsnitt*/
    text-decoration: none;
    /* inget sträck under texten*/
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

.contact_link:hover {
    background-color: rgb(90, 74, 81);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.contact_link {
    color: rgb(217, 194, 186);
    /* färg på texten */
    background-color: rgb(75, 59, 66);
    font-size: 15px;
    /*text storlek*/
    font-family: 'Times New Roman', Times, serif;
    /*typsnitt*/
    text-decoration: none;
    /* inget sträck under texten*/
    text-align: center;
    /* hovrar över contact*/
    border-radius: 4px;
    padding: 5px 10px;
    /* 5px= top/bot 10px= left/right*/
    border: 2px solid rgba(255, 255, 255, 0.4)
}

.logo span {
    font-size: 20px;
}

.logo {
    color: rgb(75, 59, 66);
    background-color: rgb(217, 194, 186);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
    padding: 10px 15px;
    /* 10px= top/bot 20px= left/right*/


}



details {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(75, 59, 66);
    cursor: pointer;
    border-radius: 4px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

p {
    color: rgb(75, 59, 66);
    padding-top: 10px;
}

/* Hover effect for the menu links */
.ul:hover {
    color: rgb(217, 194, 186);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* Hover effect for portfolio */
summary {
    cursor: pointer;
    transition: all 0.3s ease;

}

summary:hover {
    color: rgb(217, 194, 186);
    transform: scale(1.05);
}

/* iframe nr1*/
.box3 {
    /* texten/länken centrerad*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;


}

/* iframe nr2*/
.box4 {

    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* text för vad jag gjort som coordinator*/
.box5 {
    display: flex;
    justify-content: center;
    background-color: rgb(75, 59, 66);
    font-size: 15px;
    height: 250px;
    border-radius: 10px;
    padding-left: 10px;


    p {
        color: rgb(217, 194, 186);

    }

}



@media (min-width:700px) {
    .link:hover {
        color: beige;
    }

    a:hover {
        color: beige;
    }

    /* hovrar över text porfolio */
    details:hover {
        color: beige;
    }
}